<?xml version="1.0" ?>
<config>
    <modules>
        <Oleg_Custom>
            <version>1.0.0</version>
        </Oleg_Custom>
    </modules>
    <global>
        <blocks>
            <custom>
                <class>Oleg_Custom_Block</class>
            </custom>
        </blocks>
        <models>
            <custom>
                <class>Oleg_Custom_Model</class>
                <resourceModel>custom_resource</resourceModel>
            </custom>
            <custom_resource>
                <class>Oleg_Custom_Model_Resource</class>
                <entities>
                    <block>
                        <table>oleg_custom</table>
                    </block>
                </entities>
            </custom_resource>
        </models>
        <resources>
            <custom_setup>
                <setup>
                    <module>Oleg_Custom</module>
                </setup>
            </custom_setup>
        </resources>
        <helpers>
            <custom>
                <class>Oleg_Custom_Helper</class>
            </custom>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <custom module="custom">
                    <file>custom.xml</file>
                </custom>
            </updates>
        </layout>
        <routers>
            <custom>
                <use>standard</use>
                <args>
                    <module>Oleg_Custom</module>
                    <frontName>custom</frontName>
                </args>
            </custom>
        </routers>
        <translate>
            <modules>
                <Oleg_Custom>
                    <files>
                        <default>Oleg_Custom.csv</default>
                    </files>
                </Oleg_Custom>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Oleg_Custom>
                    <files>
                        <default>Oleg_Custom.csv</default>
                    </files>
                </Oleg_Custom>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <discoint>
            <custom>
                <active>1</active>
                <model>custom/method</model>
                <title>Discount Code</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <group>offline</group>
            </custom>
        </discoint>
    </default>
</config>