<?xml version="1.0"?>
<config>
   <sections>
        <checkout>
            <groups>
                <custom translate="label">
                    <label>Oleg Custom</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <discoint translate="label">
                            <label>Discount code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </discoint>
                    </fields>
                </custom>
            </groups>
        </checkout>
    </sections>
</config>
